$background-clr: #121212;

$text-primary-clr: #fff;
$text-secondary-clr: rgba(255, 255, 255, 0.7);
$text-disabled-clr: rgba(255, 255, 255, 0.5);

$action-active-clr: #fff;
$action-hover-clr: rgba(255, 255, 255, 0.08);
$action-selected-clr: rgba(255, 255, 255, 0.16);
$action-disabled-clr: rgba(255, 255, 255, 0.3);
$action-disabled-bg-clr: rgba(255, 255, 255, 0.12);

$background-default-clr: #121212;
$background-paper-clr: #121212;

$divider-clr: rgba(255, 255, 255, 0.12);
